footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}
.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 460px;
}